@charset "utf-8";
/* CSS Document */
html{font-size: 100%;font-family: Verdana, Arial, Helvetica, sans-serif;cursor: default;height: 100%;}
body {background-color:#e6e6e6;}
.BodyFrame {width:1400px; height:auto; margin-left:auto; margin-right:auto; background-color:#BFBFBF}

/* Navigation Bar */

.navbar {font-family: Verdana; font-size: 85%; color: #ffffff; border-top: 1px solid #ffffff; background: #014464;background: -moz-linear-gradient(top, #0272a7, #013953);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7),to(#013953));text-shadow: 1px 1px 1px #000; padding:0;padding-left:20px;}
.nav-link { color:#ffffff!important;}
.nav-link:hover { background: #777;background: -moz-linear-gradient(top, #777, #F4F4F4);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777), to(#F4F4F4));color:#000!important;}

li:hover ul {display: block;position: absolute;}
li:hover li {float: none;}
/* End of Navigation Bar */

/* Slideshow container */
.slideshow-container {
  max-width: 850px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#itembox {
    border: 1px solid;
    padding: 10px;
	margin: 20px;
    box-shadow: 5px 10px #888888;
	width: 30%;
	float: left;
}
